body {
    margin: 0;
    overflow-x: hidden;
}
.rus {
    color: #033C4E;
}

.regform {
    display: flex;
    margin: auto;
}

.fed {
    color: #C20000;
}

.top .toform {
    font-family: "Montserrat-SemiBoldItalic";
}

.carousel-item {
    width: 100vw;
    height: 100vh;
}

.bac1 {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bac2 {
    background-image: url(../img/forest.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.row {
    padding: 0;
    margin: 0;
}

.btn5 {
    z-index: 123;
    opacity: 0;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.btn5 img {
    width: 5vw;
}
.btndata{
    margin-top: 2%;
    color: white;
    border-width: 0;
    border-radius: 3px;
    font-family: Montserrat-SemiBoldItalic;
    background-color: #C20000;
}
.carousel-control-next, .carousel-control-prev{
    background-color: #114E6C;
    border-width: 0;
}
.fon{
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #114E6C;
}
.information{
    box-shadow: 7px 5px 30px #033C3E;
    display: flex;
    height: 500px;
    max-width: 900px;
    margin: 7% auto;
}
.texttopicture{
    position: relative;
    height: 100%;
    background-color:  #033C4E;
    width: 40%;
}
.picturetotext{
    height: 100%;
    width: 60%;
}
.texttopicture h1, .texttopicture p{
    padding-left: 20%;
    margin: auto;
    color: #ececf6;
    position: absolute;
}
.texttopicture h1{
    text-transform: uppercase;
    font-family: Montserrat-SemiBoldItalic;
    padding-top: 10%;
}
.texttopicture p{
    font-family: Montserrat-MediumItalic;
    padding-top: 40%;
}
.picturetotext img{
    height: 100%;
    width: 100%;
}

.btn1, .btn2{
    margin-top: 90%;
    position: absolute;
    padding: 0;
    border-style: none;
    font-family: Montserrat-SemiBoldItalic;
    width: 35%;
    height: 10%;
}
.btn1{
    margin-left: 10%;
}
.btn2{
    margin-left: 50%;
}

.database {
    padding-left: 10%;
}

.zagolovok {
    padding-top: 20vh;
    padding-left: 10%;
    padding-right: 40vw;

}

.zagolovok h1, .strategypage h1 {
    font-family: Montserrat-SemiBoldItalic;
    font-size: calc(24px + 16 * ((100vw - 320px) / (1280 - 320)));
    text-align: left;
    color: #033C4E;
}

.top {
    z-index: 2;
    position: absolute;
    width: 100%;
    text-align: center;
}

.top a{
    padding-right: 30px;
    font: 18px Montserrat-MediumItalic;
    text-decoration: none;
    color: #033C4E;
}

a:hover {
    transition: 1s;
    color: #C20000;
}

.zagolovok h2{
    padding-top: 15px;
    text-align: left;
    font-family: Montserrat-SemiBoldItalic;
    font-size: calc(16px + 8 * ((100vw - 320px) / (1280 - 320)));
    color: #033C4E;
    text-decoration: none;
    text-transform: uppercase;
}

.aboutus {
    margin: auto;
    max-width: 1400px;
    padding-bottom: 60px;
}

.aboutus p, .aboutarctic p {
    font-family: Montserrat-MediumItalic;
    font-size: calc(10px + 5 * ((100vw - 320px) / (1280 - 320)));
    text-align: center;
    color: #525252;
    padding-top: 5%;

}
.aboutarctic h1, .page2 h1{
    text-transform: uppercase;
    font-family:  Montserrat-SemiBoldItalic;
    font-size: calc(16px + 8 * ((100vw - 320px) / (1280 - 320)));
}
.decor {
    padding-top: 20px;
}

.arctic {
    padding: 0;
    text-align: left;
}

.arcticbtn {
    background-color: #C20000;
}

.sibbtn {
    background-color: #033C4E;
}

.map {
    padding-top: 30px;
}

.map h1 {
    color: #033C4E;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

}

.strategy {
    color: #C20000;
    font-family: Montserrat-SemiBoldItalic;
}

.page2 {
    background-color: #033C4E;

}

#register_response {
    font: 15px Montserrat-SemiBoldItalic;
    color: white;
    text-align: center;

}

.strategypage {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-image: url(../img/forest.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.page2 h1 {
    margin: auto;
    color: white;
    text-align: center;
}
 .aboutus h1, .mapname h1, .command h1{
    font-family: Montserrat-SemiBoldItalic;
     font-size: calc(24px + 16 * ((100vw - 320px) / (1280 - 320)));
    padding-top: 58px;
    text-align: center;
    color: #033C4E;
}
.strategypage h1 {
    padding-top: 30vh;
    display: flex;
    justify-content: center;
}

input[type=password] {
    margin-bottom: 20px;
}

input[type=text] {
    margin-top: 0;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.command {
    background-size: 60vw;
    background-position-x: right;
    background-repeat: no-repeat;
    background-image: url(../img/bear.png);
    padding-bottom: 20px;
    margin-bottom: 0;
}

@font-face {
    font-family: "Montserrat-SemiBoldItalic";
    src: url("../fonts/Montserrat-SemiBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat-MediumItalic";
    src: url("../fonts/Montserrat-MediumItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

#root {
    padding-bottom: 30px;
    text-align: center;
}

#root p {
    padding-top: 15px;
    font: 18px Montserrat-SemiBoldItalic;
    color: #033C4E;
}

#root input {
    padding: 15px;
}

.rowone {
    width: 85vw;
    margin: auto;
    text-align: center;
    padding-right: 15px;
    padding-top: 20px;
    margin-bottom: 15px;
}


#authorize_response {
    font: 15px Montserrat-SemiBoldItalic;
    color: white;
}

.footer {
    padding-top: 50px;
    height: 250px;
    background-color: #033C4E;
    text-align: center;
    font: 12px Montserrat-SemiBoldItalic;
    color: white;
}

.items {
    margin-bottom: 20px;
    background-color: white;
    padding: 20px 20px 20px 20px;
    border-radius: 30px;
    box-shadow: 7px 5px 30px lightgrey;
    display: inline-block;
}

.items img {
    max-width: 30vw;
}

.people img {
    width: 11vw;
}

.people {
    margin-right: 15px;
    margin-bottom: 20px;
    background-color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 8px;
    box-shadow: 7px 5px 30px lightgrey;
    display: inline-block;
}

.people h3, .people p {
    font-size: 100%;
    text-align: center;
}

.xlsx {
    padding-top: 1vh;
}

.xlsx img {
    max-width: 5vw;
}

.buttons {
    margin-top: 5vh;
}

.dbdn {
    text-align: center;
    margin: auto;
    max-width: 35vw;
    padding-bottom: 20px;
    padding-top: 20px;
}

input[type=text], input[type=password], .btn {
    width: 100%;
    height: 5%;
    padding: 16px 20px;
    margin: 5px auto 22px auto;
    display: flex;
    border: none;
    font: 15px Montserrat-SemiBoldItalic;
}

.map {
    position: relative;
}

.picture2 {
    text-align: center;
    width: 100%;
    height: 70%;
}

.picture2 img {
    width: 70%;
}

.marker1, .marker2, .marker3, .marker4, .marker5, .marker6, .marker7, .marker8 {
    display: inline-block;
    width: 2%;
    height: 2%;
    position: absolute;
}
.marker1 p, .marker2 p, .marker3 p, .marker4 p, .marker5 p, .marker6 p, .marker7 p , .marker8 p{
  color: black;
    font: 18px Montserrat-SemiBoldItalic;
}

.marker1 img, .marker2 img, .marker3 img, .marker4 img, .marker5 img, .marker6 img, .marker7 img, .marker8 img {
    width: 100%;
}

.marker1:hover::after, .marker2:hover::after, .marker3:hover::after, .marker4:hover::after, .marker5:hover::after, .marker6:hover::after, .marker7:hover::after, .marker8:hover::after {
    content: attr(data-title);
    position: absolute;
    z-index: 1;
    background: white;
    box-shadow: 7px 5px 30px gray;
    font-family: Montserrat-SemiBoldItalic;
    font-size: 11px;
    padding: 5px 10px;
    border: none;
}

.marker1 {
    top: 25%;
    left: 32%;
}

.marker2 {
    top: 35%;
    left: 32%;
}
.marker3 {
    top: 25%;
    left: 42%;
}

.marker4 {
    top: 47%;
    left: 46%;
}
.marker5 {
    top: 27%;
    left: 47%;
}

.marker6 {
    top: 38%;
    left: 51%
}
.marker7 {
    top: 43%;
    left: 57%
}

.marker8 {
    top: 12%;
    right: 22%;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: lightgrey;
    outline: none;
}

div.tab-frame input {
    display: none;
}

div.tab-frame label {
    background-color: gainsboro;
    width: 50%;
    display: block;
    float: left;
    padding: 5px;
    cursor: pointer;
    color: white;
    font-family: Montserrat-SemiBoldItalic;
    text-align: center;
    margin: 0;
}

div.tab-frame input:checked + label {
    text-align: center;
    font-family: Montserrat-SemiBoldItalic;
    background-color: #C20000;;
    width: 50%;
    color: white;
    cursor: default;
    margin: 0;
}

div.tab-frame div.tab11, div.tab-frame div.tab22 {
    display: none;
    padding: 5px 10px;
    clear: left
}

div.tab-frame input:nth-of-type(1):checked ~ .tab11:nth-of-type(1),
div.tab-frame input:nth-of-type(2):checked ~ .tab22:nth-of-type(2) {
    display: block;
}

.tab11, .tab22 {
    position: relative;
    width: 100vw;
    height: 65vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.tab11 {
    background-image: url(../img/pic7.jpg);
}

.tab22 {
    background-image: url(../img/pic9.jpg);
}

.aboutarctic {
    background-color: white;
    border-radius: 8px;
    box-shadow: 7px 5px 30px black;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.aboutarctic h1 {
    padding-top: 5%;
    text-align: center;
    color: black;
}

.aboutarctic p {
    color: #494f54;
    margin: auto;
    padding-bottom: 5%;
    width: 70%;
}

@media only screen and (max-width: 840px) {


    header {
        display: flex;
        z-index: 2;
        position: absolute;
    }

    .top {
        display: none;
    }

    .decor img {
        padding-top: 10px;
        width: 75px;
    }

    .buttons {
        display: none;
    }

}
.picture img{
    max-width: 100%;
}
@media only screen and (max-width: 450px) {

    .picture img {
        height: 342px;
    }
    .people img {
        width: 20vw;
    }
    .decor img {
        width: 50px;
    }
.picture{
    text-align: center;
}
.rowone{
    display: flex;
    overflow: auto;
}
    .decor {
        padding-top: 5px;
    }

    .content .arrow-swipe {
        display: none;
    }

}

